<a href="https://colab.research.google.com/github/marcus2348532/2348532_mllab/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [32]:
df=pd.read_csv('/content/2015.csv')

In [33]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [41]:
df = pd.DataFrame({'Country': ['India', 'USA', 'UK', 'Japan', 'China'],'Happiness Score': [4.0, 7.5, 6.8, 5.5, 4.2]})
bins = [0, 4.9, 6.9, 10]
labels = ['Low Happiness', 'Medium Happiness', 'High Happiness']
df['Happiness Group'] = pd.cut(df['Happiness Score'], bins=bins, labels=labels)
print(df)

  Country  Happiness Score   Happiness Group
0   India              4.0     Low Happiness
1     USA              7.5    High Happiness
2      UK              6.8  Medium Happiness
3   Japan              5.5  Medium Happiness
4   China              4.2     Low Happiness

In [45]:
import pandas as pd
# create a sample dataframe
data = {'Region': ['North', 'South', 'East', 'West', 'North']}
df = pd.DataFrame(data)
# perform one-hot encoding
df_encoded = pd.get_dummies(df, columns=['Region'])
print(df_encoded)

   Region_East  Region_North  Region_South  Region_West
0            0             1             0            0
1            0             0             1            0
2            1             0             0            0
3            0             0             0            1
4            0             1             0            0

In [46]:
from sklearn.preprocessing import MinMaxScaler
# create a sample dataframe
data = {'Economy (GDP per Capita)': [1000, 765, 800]}
df = pd.DataFrame(data)
# perform Min-Max scaling
scaler = MinMaxScaler()
df['Economy (GDP per Capita)'] = scaler.fit_transform(df[['Economy (GDP per Capita)']])
print(df)

   Economy (GDP per Capita)
0                  1.000000
1                  0.000000
2                  0.148936

In [ ]:
from scipy.stats import chi2_contingency
# create a sample dataframe
data = {'Region': ['North', 'South', 'East', 'West', 'North'],        'Happiness Rank': [1, 2, 3, 4, 5]}df = pd.DataFrame(data)# create a contingency tablecontingency_table = pd.crosstab(df['Region'], df['Happiness Rank'])# perform chi-square testchi2_statistic, p_value, dof, expected_values = chi2_contingency(contingency_table)print(f"Chi-square statistic: {chi2_statistic}")print(f"P-value: {p_value}")print(f"Degrees of freedom: {dof}")print("Expected values:")print(expected_values)